.search {
    background-color: #7890a8;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.search{
    color: #9da5d1;
}

.search_container {
    display: flex;
    gap: 0.5rem;
}

.search_container input,
.search_container button{
    padding: .6rem;
    border-radius: 3px;
    border: none;
    color: #2e3761;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search_container button{
    background-color: #304878;
    cursor: pointer;
}